:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #300057e5;
  /* background-image: url("./assets/drumbg.jpg"); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main__card {
  background-color: #b5bdce;
  padding: 0.6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beatcard {
  display: grid;
  background-color: beige;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5em;
  column-gap: 0.5em;
  margin-right: 0.5em;

  width: 20em;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.beat {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 1px solid rgb(240, 229, 229);
  background-color: rgb(25, 25, 117);
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.control__panel {
  display: grid;
  row-gap: 0.3em;
  justify-content: center;
  color: #3c2b5c;
  padding: 1em;
  background-color: beige;
  border-radius: 5px;
  max-width: 20em;
}

.control__label {
  margin-bottom: -0.2em;
}

.display {
  background-color: rgb(25, 25, 117);
  padding: 0.8em;
  color: #eedaff;
  width: 15em;
  border-radius: 5px;
  font-weight: 600;
}

.power {
  margin-bottom: 15px;
}

/*  ------------ css for toggle switch -------------  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ---------- The toggle slider --------------- */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(25, 25, 117);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(25, 25, 117);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* END  ------------ css for toggle switch -------------  */

/* ---------- CSS for volume slider --------------------- */
.volumeDiv {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  max-width: 50em; /* Width of the outside container */
}

/* The slider itself */
.sliderVol {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.sliderVol:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderVol::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(25, 25, 117); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderVol::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(25, 25, 117); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
